/* App.css */


.homepage-background {
  background-image: url('./car.png');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/* Header Styles */

.header nav {
  margin-left: auto; /* Move the navigation links to the right */
}

.header {
  background-color: black;
  color: white;
  padding: 1px;
  display: flex; /* Add flex display */
  justify-content: space-between; /* Ensure items are spaced evenly */
  align-items: center; /* Center items vertically */
}

.header nav ul {
  list-style-type: none;
  margin:0;  
  padding: 0;
}


.header nav ul li {
  display: inline;
  margin-left: 10px;
  padding-right: 75px;
}

.header nav ul li a {
  color: white;
  text-decoration: none;
}

.header-logo {
  padding-left: 25px;
}

.header-logo img {
  width: 100px;
  height:auto;   
max-height: 70px;
}


/* Footer Styles */
.footer {
  background-color: #333;
  color: white;
  padding: 3px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer p {
  margin: 0;
}

/* Button Styles */
.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

.button:hover {
  background-color: #45a049;
}

.button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

/* ContactPage.css */

.contact-page {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.contact-section,
.contact-info {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.contact-section.appointment-section {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-section.appointment-section h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"] {
  width: 95%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

button.btn {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

button.btn:hover {
  background-color: #0056b3;
}

/* CarInfo.css */
.car-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.car-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center the cards horizontally */
  gap: 20px;
}

.car-card {
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 20px;
  width: calc(33.333% - 20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.car-card h3 {
  margin-top: 0;
  margin-bottom: 10px;
}

.car-card p {
  margin: 0;
  margin-bottom: 5px;
}
.fetch-button {
  background-color: gray; 
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
 
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}

.fetch-button:hover {
  background-color: navy; 
  color: white
}

.fetch-button:disabled {
  background-color: #cccccc; /* Gray when disabled */
  cursor: not-allowed;
}