/* App.css */


.homepage-background {
  background-image: url('./2.png');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/* Header Styles */
.header {
  background-color:black;
  color: white;
  padding: 1px;
  
}

.header nav ul {
  list-style-type: none;
  margin:0;  
  padding: 0;
}


.header nav ul li {
  display: inline;
  margin-left: 10px;
}

.header nav ul li a {
  color: white;
  text-decoration: none;
}

.header-logo img {
  width: 100px;
  height:auto;   
  padding-bottom: 0px;
  margin-bottom: 0px;
}


/* Footer Styles */
.footer {
  background-color: #333;
  color: white;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer p {
  margin: 0;
}

/* Button Styles */
.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

.button:hover {
  background-color: #45a049;
}

.button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

/* ContactPage.css */

.contact-page {
  margin: 20px auto;
  max-width: 800px;
}

.contact-sections {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}


.contact-section {
  width: calc(50% - 10px);
  padding: 10px;
  border: 1px solid #ccc;
  
}


.appointment-section {
  background-color: #007bff;
  color: white;
}

.info-section {
  background-color: #007bff;
  color: white;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button.btn {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button.btn:hover {
  background-color: #0056b3;
}
/* CarInfo.css */
.car-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.car-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center the cards horizontally */
  gap: 20px;
}

.car-card {
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 20px;
  width: calc(33.333% - 20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.car-card h3 {
  margin-top: 0;
  margin-bottom: 10px;
}

.car-card p {
  margin: 0;
  margin-bottom: 5px;
}
.fetch-button {
  background-color: gray; 
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
 
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}

.fetch-button:hover {
  background-color: navy; 
  color: white
}

.fetch-button:disabled {
  background-color: #cccccc; /* Gray when disabled */
  cursor: not-allowed;
}